<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>亚华电子管理岗位问卷测评</title>
    <style>
        p {margin: 0; padding: 0}
        img {width: 960px}
        .f-red {font-weight: bold; color: red}
        .f-black {font-weight: bold; color: black}
        .cp-header {line-height: 1.5rem}
        .cp-form {width: 960px}
    </style>
    <script>
        $(function () {
            $('#cp-form').submit(function () {
                let sval;
                let mark = 0;
                $('select').each(function () {
                    sval = $(this).val();
                    if (sval == 0) {
                        mark = 1;
                        $(this).focus();
                        return false;
                    }
                });
                //如果有未选择打分项，则不提交
                if (mark == 1) {
                    return false;
                }
            })
        })
    </script>
</head>
<body>
<div layout:fragment="content" class="container">
    <h3 class="text-primary" th:text="${'《2020年管理岗位绩效管理方案》综合评定-(副总/总监级)-评定人 ' + person.name}">耿斌</h3>
    <div class="mt-3 w-75 cp-header">
        <p>亲爱的亚华电子小伙伴:</p>
        <p>&emsp;&emsp;您好，依据《2020年管理岗位绩效管理方案》的评定规则，【工作绩效】和【综合评价】各占全年绩效结果的70%和30%的比重。年终需要进行管理层人员【综合评价】维度的评定，请您根据实际情况进行相应人员的客观评定。</p>
        <p>感谢2020年度您对亚华电子的辛勤付出!</p>
        <p>愿我们同舟共济、相互扶持，共同攀越新的高峰!谢谢您!</p>
    </div>
    <hr>
    <form id="cp-form" action="/tool/ceping/sub" method="post" class="cp-form">
        <input type="hidden" name="rate" th:value="${person.id}">
        <!--平级互评-->
        <div th:if="${!#strings.isEmpty(person.rank_eq)}">
            <p class="f-red mb-2">【平级】综合评价维度说明</p>
            <img src="/static/ceping.png" class="mb-2">
            <p class="f-red">一、管理层【平级】互评明细表</p>
            <p class="f-red mb-2">(5分-很满意，4分-满意，3分-—般，2分-不满意，1分-很不满意)</p>
            <table class="table table-bordered table-hover table-sm text-center">
                <thead>
                <tr>
                    <th>姓名\维度</th>
                    <th>人才成长</th>
                    <th>计划与执行</th>
                    <th>团队管理与协调能力</th>
                    <th>判断与决策能力</th>
                    <th>专业知识与技能</th>
                    <th>责任心与担当能力</th>
                    <th>结果与客户导向</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${!#strings.isEmpty(person.rank_eq)}" th:each="pname, objStat : ${#strings.arraySplit(person.rank_eq, ';')}">
                    <input type="hidden" name="berate" th:value="${pname}">
                    <th th:text="${pname}">耿斌</th>
                    <th>
                        <select name="dimen1">
                            <option value="0">请选择</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </th>
                    <th>
                        <select name="dimen2">
                            <option value="0">请选择</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </th>
                    <th>
                        <select name="dimen3">
                            <option value="0">请选择</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </th>
                    <th>
                        <select name="dimen4">
                            <option value="0">请选择</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </th>
                    <th>
                        <select name="dimen5">
                            <option value="0">请选择</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </th>
                    <th>
                        <select name="dimen6">
                            <option value="0">请选择</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </th>
                    <th>
                        <select name="dimen7">
                            <option value="0">请选择</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </th>
                </tr>
                </tbody>
            </table>
            <div class="mt-4 mb-2" th:each="pname, objStat : ${#strings.arraySplit(person.rank_eq, ';')}">
                <p class="f-black mb-2" th:text="${'请您对 ' + pname +' 2020年度的工作给予客观点评与建议:'}"></p>
                <textarea cols="80" rows="3" name="comment" placeholder="最多可输入300字..." required></textarea>
            </div>
        </div>
        <!--下级互评-->
        <div th:if="${!#strings.isEmpty(person.rank_lt)}">
            <p class="f-red mb-2">【下级】综合评价维度说明</p>
            <img src="/static/ceping.png" class="mb-2">
            <p class="f-red">二、管理层对【下级】人员评定：</p>
            <p class="f-red mb-2">(5分-很满意，4分-满意，3分-—般，2分-不满意，1分-很不满意)</p>
            <table class="table table-bordered table-hover table-sm text-center mb-5">
                <thead>
                <tr>
                    <th>姓名\维度</th>
                    <th>人才成长</th>
                    <th>计划与执行</th>
                    <th>团队管理与协调能力</th>
                    <th>判断与决策能力</th>
                    <th>专业知识与技能</th>
                    <th>责任心与担当能力</th>
                    <th>结果与客户导向</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pname, objStat : ${#strings.arraySplit(person.rank_lt, ';')}">
                    <input type="hidden" name="berate" th:value="${pname}">
                    <th th:text="${pname}">耿斌</th>
                    <th>
                        <select name="dimen1">
                            <option value="0">请选择</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </th>
                    <th>
                        <select name="dimen2">
                            <option value="0">请选择</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </th>
                    <th>
                        <select name="dimen3">
                            <option value="0">请选择</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </th>
                    <th>
                        <select name="dimen4">
                            <option value="0">请选择</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </th>
                    <th>
                        <select name="dimen5">
                            <option value="0">请选择</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </th>
                    <th>
                        <select name="dimen6">
                            <option value="0">请选择</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </th>
                    <th>
                        <select name="dimen7">
                            <option value="0">请选择</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </th>
                </tr>
                </tbody>
            </table>
            <div class="mt-4 mb-2" th:if="${!#strings.isEmpty(person.rank_lt)}" th:each="pname, objStat : ${#strings.arraySplit(person.rank_lt, ';')}">
                <p class="f-black mb-2" th:text="${'请您对 ' + pname +' 2020年度的工作给予客观点评与建议:'}"></p>
                <textarea cols="80" rows="3" name="comment" placeholder="最多可输入300字..." required></textarea>
            </div>
        </div>
        <div class="mt-4"></div>
        <button class="btn btn-primary btn-sm d-block m-auto">&emsp;提交&emsp;</button>
    </form>
</div>
</body>
</html>