<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>出错啦~！</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <h2>一个不好的结果~</h2>
    <hr>
    <p class="font-weight-bold text-danger" th:text="${message == null ? '500 - There is a error in server.' : message}"></p>
</div>
</body>
</html>